@import url("./whitespace-reset.css");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One%7CRoboto+Condensed");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

body.dark {
  background-color: #121921;
}

#app {
  width: 800px;
  margin: 20px auto 20px auto;
}

main,
header {
  padding: 20px;
}

header {
  background: #07575b;
  color: #fff;
  min-height: 200px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

header.dark {
  background-color: #2c4355;
}

header h1 {
  font-family: "Rammetto One", cursive;
  font-size: 26px;
  float: left;
}

header .cart {
  float: right;
  overflow: hidden;
}

main {
  background: #c4dfe6;
}

main.dark {
  background-color: #1e2a3a;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

header h2 {
  text-align: center;
}

.product {
  background: #fff;
  padding: 14px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  position: relative;
}

.product.dark {
  background-color: #2d3e50;
  color: #fff;
}

h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.product p {
  margin-bottom: 3px;
}

.product .price {
  color: #a83850;
}

.product .quantity.none-left {
  color: red;
}

.product .edit-form,
.add-form {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.input-group {
  padding: 5px 0 5px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 5px 12px 5px;
  background: #07575b;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
}

button.dark {
  background-color: #3598da;
}

.checkout {
  background: #fff;
  color: #07575b;
  margin-top: 20px;
  float: right;
}

.checkout.dark {
  color: #2c4355;
}

button:disabled {
  background: #ccc;
  color: #fff;
  cursor: auto;
}

.actions {
  margin-top: 20px;
}

.product .delete-button {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: red;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

form {
  width: 400px;
}

.input-group input {
  float: right;
}

.input-group label {
  margin-right: 10px;
}

input[type="text"] input[type="number"] {
  padding: 3px 2px;
  width: 150px;
  height: 15px;
}

input[type="text"]:focus input[type="number"]:focus {
  outline: none;
  border-color: #07575b;
}

input[type="text"]:focus input[type="number"]:focus.dark {
  border-color: #2c4355;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.add-form h3 {
  display: block;
}

.add-product-button {
  display: block;
}

/* .add-form h3,
.add-form form {
  display: none;
}

.add-form.visible .add-product-button {
  display: none;
}

.add-form.visible h3,
.add-form.visible form {
  display: block;
} */

table td,
th {
  text-align: center;
  padding: 0 10px;
}

table td.total {
  text-align: right;
  padding-top: 20px;
}

.products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12px;
}

.products-header div button {
  margin: 0 3px;
  color: #07575b;
  border: 1px solid #07575b;
  background-color: #c4dfe6;
}

.products-header div button.dark {
  margin: 0 3px;
  color: #3598da;
  border: 1px solid #3598da;
  background-color: #1e2a3a;
}

.products-header div button:hover {
  background-color: #5da8ac;
}

.products-header div button.dark:hover {
  background-color: #85b5d4;
}

.products-header .selected {
  background-color: #07575b;
  color: #fff;
}

.products-header .selected.dark {
  background-color: #3598da;
}

.shop-header button {
  border: 1px solid #fff;
  margin: 4px 0 0 24px;
  padding-bottom: 8px;
}

.shop-header button:hover {
  background-color: #5da8ac;
}

.shop-header button.dark:hover {
  background-color: #4e5f6d;
}
